<div class="list-item-container" ng-controller="ListItemController as vm">
	<div ng-include="'/components/menu/menu.html'"></div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>Tiều đề</th>
					<th>Ảnh</th>
					<th>Bình chọn</th>
					<th>Xử lý</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in vm.items | orderBy : '-num'">
					<td>{{$index + 1}}</td>
					<td>{{item.title}}</td>
					<td><img width="100px" src="{{vm.getImageNotCache(item.img)}}"></td>
					<td>{{item.num}} bình chọn</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-primary" ui-sref="detail-item({id: item.id})">
								Chi tiết
							</button>
							<button type="button" class="btn btn-danger" ng-click="vm.remove(item.id)">
								Xóa
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>