<!-- <div class="update-article-container" ng-controller="DetailArticleController as vm">
	<div ng-include="'/components/menu/menu.html'"></div>
	<div class="col-md-8 col-md-offset-2">
	<form  role="form" ng-submit="vm.update()">
		<legend>Sửa bài đăng</legend>
		
		<div class="form-group">
			<label for="file">Ảnh</label>
			<input type="file" ng-model="vm.article.file" class="form-control" id="file" name="file" accept="image/*"onchange="angular.element(this).scope().readURL(this)">
			<img ng-src="{{vm.article.img}}" class="image" />
		</div>

		<div class="form-group">
			<label for="title">Tiêu đề</label>
			<input type="text" ng-model="vm.article.title" class="form-control" id="title" name="title" placeholder="Tiêu đề">
		</div>

		<div class="form-group">
			<label for="content">Nội dung</label>
			<textarea class="form-control" ng-model="vm.article.content" id="content" name="content" placeholder="Nội dung" rows="10"></textarea>
		</div>
	
		<button type="submit" class="btn btn-primary">Sửa</button>
	</form>
	</div>
</div>
 -->

<div class="container body" ng-controller="DetailItemController as vm">
	<div class="main_container">
		<div ng-include="'/components/menu/menu.html'"></div>
		<div class="right_col" role="main" style="min-height: 1161px;">
          	<div class="">
	            <div class="page-title">
	              	<div class="title_left">
	                <h3>Sửa tiết mục</h3>
	              	</div>
	            </div>

	            <div class="col-md-12 col-sm-12 col-xs-12">
	                <div class="x_panel">
	                  	<div class="x_title">
	                    	<h2>Thêm</h2>
	                    	<div class="clearfix"></div>
	                  	</div>

	                  	<div class="x_content">
	                    	<form id="demo-form2" class="form-horizontal form-label-left" ng-submit="vm.update()">
	                    		<div class="form-group col-md-8">
                        			<label class="control-label" for="first-name">
                        				Ảnh <span class="required">*</span>
                        			</label>
                        			<div class="">
                        				<input type="file" ng-model="vm.item.file" class="form-control col-md-6 col-xs-6" id="file" name="file" accept="image/*"onchange="angular.element(this).scope().readURL(this)">
										<img class="image" ng-src="{{vm.item.img}}" width="300px" style="margin-top: 20px" />
                        			</div>
                      			</div>    
                      			<div class="form-group col-md-8">
                        			<label class="control-label" for="first-name">
                        				Tiêu đề <span class="required">*</span>
                        			</label>
                        			<div class="">
                        				<input type="text" class="form-control col-md-7 col-xs-12" ng-model="vm.item.title" id="title" name="title" placeholder="Tiêu đề">
                        			</div>
                      			</div>
                      			<div class="form-group col-md-8">
                        			<label class="control-label" for="first-name">
                        				Video <span class="required">*</span>
                        			</label>
                        			<div class="">
                        				<input type="text" class="form-control col-md-7 col-xs-12" ng-model="vm.item.video" id="video" name="video" placeholder="Video">
                        			</div>
                      			</div>         
                      			<div class="form-group col-md-12">
                        			<label class="control-label" for="first-name">
                        				Nội dung <span class="required">*</span>
                        			</label>
                        			<div class="">
                          				<textarea class="form-control col-md-7 col-xs-12" ng-model="vm.item.content" id="content" name="content" placeholder="Nội dung" rows="20"></textarea>
                        			</div>
                      			</div>
                      			<div class="form-group col-md-8">
			                        <div class="">
										<button class="btn btn-primary" type="reset">Làm mới</button>
			                          	<button type="submit" class="btn btn-success">Sửa</button>
			                        </div>
			                    </div>
                      		</form>
	                  	</div>
	                </div>
	            </div>
            </div>
     	 </div>
	</div>
</div>