<div class="login" ng-controller="LoginController as vm">
    <div>
      	<div class="login_wrapper">
        	<div class="animate form login_form">
          		<section class="login_content">
            		<form name="loginForm" novalidate ng-submit="vm.login()">
              			<h1>Đăng nhập hệ thống</h1>
            			<div>
                			<input type="email" ng-model="vm.user.email" class="form-control" id="email" placeholder="Email" name="email"/>
                			<p class="error-validate" ng-show="loginForm.email.$dirty && loginForm.email.$invalid">
								<span ng-show="loginForm.email.$error.email">Hãy điền đúng định dạng email</span>
							</p>
              			</div>
              			<div>
                			<input type="password" ng-model="vm.user.password" class="form-control" id="password" placeholder="Mật khẩu" 
                			name="password" ng-minlength="6" ng-maxlength="32"/>
                			<p class="error-validate" ng-show="loginForm.password.$dirty && loginForm.password.$invalid">
					            <span ng-show="loginForm.password.$error.minlength">Mật khẩu phải lớn hơn 6 ký tự</span>
					            <span ng-show="loginForm.password.$error.maxlength">Mật khẩu phải nhỏ hơn 32 ký tự</span>
					         </p>
            	  		</div>
            			<div>
                			<button type="submit" class="btn btn-default submit" ng-disabled="loginForm.$invalid">
                				Đăng nhập
                			</button>
        				</div>
            		</form>
          		</section>
        	</div>
      	</div>
    </div>
 </div>